.env
*.env
*.env*
basic_of_langchain/.ipynb_checkpoints/

lora_finetune_llm/.ipynb_checkpoints/

lora_finetune_llm/llama_finetune/

lora_finetune_llm/wandb/

ChatBot/chatbot_with_rag/CHROMA_DB/

ChatBot/chatbot_with_rag/FAISS_DB/

lora_finetune_llm/FAISS_DB/

lora_finetune_llm/llm_finetune/
